/* You can add global styles to this file, and also import other style files */
.button{
  margin-top: 10px;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #045F5F;
  color: blanchedalmond;
  background: cadetblue;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input{
  margin-top: 10px;
  width: 300px;
  height: 20px;
  border: 1px double #045F5F;
  border-radius: 10px;
}
